Django
mysqlclient
gunicorn
PyMySQL
SQLAlchemy
ipython
matplotlib
numpy
pandas
pandasql
urllib3
selenium
# tensorflow
# Keras
scikit-learn
cryptography
beautifulsoup4
lxml
# eunjeon  -> konlpy 로 대체 (그전에 jPype 설치해야 함)
wordcloud
exifread