<input type="text" name="search" size="20">

{% block title %}blog.html{% endblock %}

{% block content %}
<div class = "post_list_article">
    <a href ="blog_url" class="author"></a>
    <div class = "content">
        <a href = "blog url">
            <strong class = "post_title">블로그 제목</strong>
        </a>
        <a href = "blog url">
            <a>내용</a>
        </a>
    </div>
</div>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}